.formSection {
  flex: 1;
  min-width: 320px;
}

.tabsSection {
  flex: 2;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.tabList {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #dee2e6;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  border: none;
  background: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.tab[aria-selected='true'] {
  border-color: #0d6efd;
  color: #0d6efd;
  background-color: rgb(194, 215, 247);
}

.tabPanel {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
